@model IEnumerable<BookingCinema.Models.SeatBooking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat.SeatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Showtime.ShowtimeId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.BookingId">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.BookingId">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
