@model BookingCinema.Models.Seat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Seat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NRow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NRow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NColumn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBooked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBooked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Theater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Theater.TheaterId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SeatId">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
